<section class="mt-1 pl-1">
  <div class="call-section">
    <div class="call-content">
      <div ng-if = "url" class="call-image">
        <img src="../images/img_avatar.png" />
      </div>
      <div ng-if = "statusURL" class="call-image">
        <img src="{{imgUrl}}" />
      </div>
      <div ng-if = "chatURL" class="call-image">
        <img src="{{imgStatus}}" />
      </div>
      <div class="call-content-info pl-1">
        <span class="call-content-title">User 1</span>
        <p class="call-content-desc"><i class="ion-android-arrow-down icon"></i> 6/30/21, 7:39 PM</p>
      </div>
    </div>
    <div class="call-icon">
      <i class="ion-android-call"></i>
    </div>
  </div>
  <div class="call-section mt-1">
    <div class="call-content">
      <div ng-if = "url" class="call-image">
        <img src="../images/img_avatar.png" />
      </div>
      <div ng-if = "statusURL" class="call-image">
        <img src="{{imgUrl}}" />
      </div>
      <div ng-if = "chatURL" class="call-image">
        <img src="{{imgStatus}}" />
      </div>
      <div class="call-content-info pl-1">
        <span class="call-content-title">User 2</span>
        <p class="call-content-desc"><i class="ion-android-arrow-down icon"></i> 6/30/21, 8:39 PM</p>
      </div>
    </div>
    <div class="call-icon">
      <i class="ion-android-call"></i>
    </div>
  </div>
  <div class="call-section mt-1">
    <div class="call-content">
      <div ng-if = "url" class="call-image">
        <img src="../images/img_avatar.png" />
      </div>
      <div ng-if = "statusURL" class="call-image">
        <img src="{{imgUrl}}" />
      </div>
      <div ng-if = "chatURL" class="call-image">
        <img src="{{imgStatus}}" />
      </div>
      <div class="call-content-info pl-1">
        <span class="call-content-title">User 3</span>
        <p class="call-content-desc"><i class="ion-android-arrow-down icon"></i> 6/30/21, 10:39 PM</p>
      </div>
    </div>
    <div class="call-icon">
      <i class="ion-android-call"></i>
    </div>
  </div>
</section>
