<section class="mt-1 pl-1 d-flex">
  <ion-content>
      <div class="chats mb-1 pl-1" ng-click="goToChat('user 1')">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 1</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1" ng-click="goToChat('user 2')">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 2</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1" ng-click="goToChat('user 3')">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 3</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1" ng-click="goToChat('user 4')">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 4</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1" ng-click="goToChat('user 5')">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 5</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>


      <div class="chats mb-1 pl-1" ng-click="goToChat('user 6')">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 6</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1" ng-click="goToChat('user 7')">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 7</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 8</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 9</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 10</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>


      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 11</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 12</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 13</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 14</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 15</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 16</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 17</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 18</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 19</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 20</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>




      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 21</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 22</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 23</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 24</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 25</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>


      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 26</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 27</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 28</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 29</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 30</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>


      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 31</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 32</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 33</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 34</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 35</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 36</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 37</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 38</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/img_avatar.png"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img1}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 39</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>

      <div class="chats mb-1 pl-1">
        <div ng-if = "url" class="myimage">
          <img src="../images/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"/>
        </div>
        <div ng-if = "!url" class="myimage">
          <img src="{{img2}}"/>
        </div>
        <div class="chats-content">
         <div>
          <span class="chat-title">User 40</span>
          <p class="chat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, doloremque aspernatur. Eum aut, ea quam exercitationem, tempore, sapiente minima neque error quis ad eaque inventore nulla temporibus in pariatur reiciendis.</p>
         </div>
        </div>
      </div>


    <ion-infinite-scroll class="scroll-infinte" on-infinite="loadMore()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>



</section>
